.App {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card {
  width: 50%;
  background: rgb(255 255 255 / 10%);
  box-shadow: inset 0 0 20px 0px rgb(255 255 255 / 15%);
  backdrop-filter: blur( 40px );
  -webkit-backdrop-filter: blur( 40px );
  border-radius: 30px;
  border: 2px solid rgb(255 255 255 / 18%);
  padding: 3rem 2rem;
  overflow: hidden;
  position: relative;
}

.btc_vector {
  width: 100%;
}

.last_price {
  color: #fff;
  line-height: 1;
  text-align: center;
}

.last_price .symbol {
  font-size: 4rem;
}

.last_price .price {
  font-size: 5.2rem;
  letter-spacing: 5px;
}

.price_24h_change {
  color: #06ff00;
  font-size: 2rem;
  font-weight: 300;
}

.cryptowaynow {
  background-color: rgb(255 255 255 / 12%);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.cryptowaynow .follow_us {
  font-family: IRANYekan;
  font-weight: 300;
}
.cryptowaynow .telegram {
  direction: ltr;
  font-family: NeoSans;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 2px;
}


.powered_by {
  color: #fff;
  font-family: IRANSans;
  font-weight: 400;
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-size: 0.9rem;
}
.powered_by .binance {
  color: #f2b600;
}

.green {
  color: #06ff00;
}
.red {
  color: red;
}